/* General stuff */
p, ul {
	font-size: 18px;
	line-height: 1.6em;
}

pre {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

code, pre, tt {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

code, tt {
    padding: .2rem .3rem .1rem;
    border: 1px solid #d8e0e4;
    background: #f5f7f8;
    border-radius: 2px;
    color: #c25;
    vertical-align: middle;
    line-height: 1em;
    margin-left: .2em;
	font-size: 0.9em;
}

pre code, pre tt {
    padding: 0;
    border: none;
    background: 0 0;
    color: inherit;
	
}

/* Header */
.header-has-img .header {
    margin-bottom: 10px;
}

/* Widget area */
.widget .languages {
	margin: 0 auto;
    width: 100%;
	text-align: center;
}

.widget .languages li {
	display: inline-block;
	padding: 0.1em 0;
	margin: 0 0.8em;
}

.widget .languages li.current {
	border-bottom: 1px solid #27a79a;
}

.widget .languages li a:hover {
	text-decoration: none;
}

.widget .languages {
	margin-bottom: 15px;
}

.section-subtitle {
	text-align: center;
	margin-top: 10px;
}

/* Blog */
.blog {
    margin-top: 40px;
}

.pager-container {
	text-align: center;
}

.MarkupPagerNav {
        clear: both;
        margin: 1em 0;
        font-family: Arial, sans-serif;
}
.MarkupPagerNav li {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.MarkupPagerNav li a,
.MarkupPagerNav li.MarkupPagerNavSeparator {
	display: block;
	float: left;
	padding: 2px 9px;
	color: #fff;
	background: #2f4248;
	margin-right: 3px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.MarkupPagerNav li.MarkupPagerNavOn a,
.MarkupPagerNav li a:hover {
	color: #fff;
	background: #27a79a;
	text-decoration: none;
}

.MarkupPagerNav li.MarkupPagerNavSeparator {
	display: inline;
	color: #777;
	background: #d2e4ea;
	padding-left: 3px;
	padding-right: 3px;
}

/* POST */
.post-single .post-inner {
    padding: 0 100px 40px;
}

.post-single .post-inner h2 {
    margin-top: 45px;
}

.post-single .post-inner h2.top-title {
    margin-top: 0;
}

.post-single .post-inner h3 {
    margin-top: 40px;
}

.post-single .post-datetime {
    left: -110px;
}

.post-single .post-share {
    text-align: right;
}

.post-tag {
	text-transform: uppercase;
	font-weight: bold;
}

.post-title {
	margin: 0 0 15px;
}

/* FOOTER */
.link-legal {
    text-align: center;
    padding-bottom: 1em;
}

.link-legal p {
    margin-top: 1em;
	font-size: 16px;
}
